<div class="section-heading{{#if center}} is-centered{{/if}}">
    {{#if eyebrow}}
        <span class="section-heading__eyebrow">{{eyebrow}}</span>
    {{/if}}
    {{#if title}}
        <h2 class="section-heading__title leaf-accent">{{title}}</h2>
    {{/if}}
    {{#if description}}
        <p class="section-heading__description">{{description}}</p>
    {{/if}}
</div>
